@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    /* p{
        @apply text-body;
    } */
}

@font-face {
    font-family: "blissmood";
    src: url("/fonts/blissmood.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  #bg{
    background-color: #2D3F27;
    /* Stræk billedet horisontalt til at dække alle slides */
    
  }

  #string{
    background-image: url('/public/images/orangethread.svg');
    background-size: cover; /* Stræk billedet horisontalt til at dække alle slides */
  }

 