---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Testimonial from "../components/Testimonial.astro";

---

<MainLayout title="Hojskolendk">
<Hero></Hero>
  <Button type="secondary">TILMELD NU</Button>

  <Card cardimg="/svg/logo.svg" cardimgalt="haha" header="hej verden" text="Lorem ipsum dollar">


	
<Card 
  header="CARIBIEN HAWAII MEXICO" 
  text="This is a single view card." 
  bgImg=""
  url="/signup" 
  view="destinationer" 
/>

<Card 
  header="List View Header" 
  text="This is a list view card." 
  cardimg="/path/to/image.jpg" 
  cardimgalt="Image description" 
  url="/readmore" 
  view="aktiviteter" 
/>

<Testimonial></Testimonial>


<Button type="secondary">TILMELD NU</Button>

<Card cardimg="/svg/logo.svg" cardimgalt="haha" header="hej verden" text="Lorem ipsum dollar"></Card>



</MainLayout>
