---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Testimonial from "../components/Testimonial.astro";

---

<MainLayout title="Hojskolendk">
<Hero></Hero>
<Testimonial></Testimonial>

<Button type="secondary">TILMELD NU</Button>

<section class="p-section-mobile-32 lg:p-section-72 lg:mx-margin-box-desktop">
  <div class="border border-orange-500 rounded bg-yellow-500 bg-opacity-50 lg:px-padding-box-desktop ">
  <h1 class="px-padding-mobil-S py-padding-mobil-L text-h1-mobile-L lg:pb-padding font-poppins lg:text-h1-desktop-L text-green-500 text-center"> Højskole i udlandet
  </h1>
  <h2 class="pb-padding-mobil-S text-h1-mobile-S lg:pb-padding font-poppins lg:text-h1-desktop-S text-green-500 text-center">ER DU KLAR TIL DIT LIVS EVENTYR?</h2>
  <p class=" px-padding-box-mobil lg:px-padding-box-mobil-none text-body-mobile-regular pb-padding lg:text-body-desktop-regular text-green-500 font-montserrat">Vi er en dansk højskole for dig imellem 18-30år, der ønsker en unik rejseoplevelse, og muligheden for at blive en del af et stort fællesskab, møde nye mennesker og forskellige  kulturer. Derfor laver vi, HöJSKOLENDK, eventyrlige højskoleophold i udlandet. <br> <br>

    HOJSKOLENDK er for dig som synes det er spændende at tage på højskole i udlandet og er vild med tanken om højskolefællesskabet. Ønsker at komme med på et fantastisk rejseeventyr, gerne vil lære om nye kulturer, er vild med tanken om at rejse med rygsæk, drømmer om en fed grupperejse med andre unge og følelsen af et stærkt sammenhold. Det er for dig der ønsker inspirerende og meningsfulde aktiviteter der giver dig noget med hjem og samtidig ønsker en tryg rejseoplevelse hvor vi har taget os af alt det praktiske og ikke skal bekymre dig om forsikring, da vi er medlem af rejsegarantifonden. <br> <br> 
    
    Vi glæder os til at rejse med dig og give dig din ultimative bedste oplevelse. </p>
    <div class="py-padding flex flex-row justify-center">
  <Button type="secondary">OM OS</Button>
    </div>

</div>
</section>

<Card cardimg="/svg/logo.svg" cardimgalt="haha" header="hej verden" text="Lorem ipsum dollar">


	
<Card 
  header="CARIBIEN HAWAII MEXICO" 
  text="This is a single view card." 
  bgImg=""
  url="/signup" 
  view="destinationer" 
/>

<Card 
  header="List View Header" 
  text="This is a list view card." 
  cardimg="/path/to/image.jpg" 
  cardimgalt="Image description" 
  url="/readmore" 
  view="aktiviteter" 
/>




<Button type="secondary">TILMELD NU</Button>

<Card cardimg="/svg/logo.svg" cardimgalt="haha" header="hej verden" text="Lorem ipsum dollar"></Card>



</MainLayout>
