---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Testimonial from "../components/Testimonial.astro";

---

<MainLayout title="Hojskolendk">
<Hero></Hero>

<Testimonial></Testimonial>
  <Button type="secondary">TILMELD NU</Button>

  <Card cardimg="/svg/logo.svg" cardimgalt="haha" header="hej verden" text="Lorem ipsum dollar">


	
<Card 
  header={`CARIBIEN\nHAWAII\nMEXICO`} 
  text="Nordamerika Mellemamerika"
  bgImg="/images/midlertidig-card-img.jpg"
  url="" 
  view="destinationer" 
/>


<Card 
  header="KULTURFORSTÅELSE" 
  text="ALLE DESTINATIONER"
  bgImg="/images/midlertidig-card-img.jpg"
  url=""
  view="aktiviteter" 
/>




<Button type="secondary">TILMELD NU</Button>

<Card cardimg="/svg/logo.svg" cardimgalt="haha" header="hej verden" text="Lorem ipsum dollar"></Card>



</MainLayout>
