---


---

<section id="banner" class=" flex flex-row items-center overflow-hidden m-card-34 ">
    <div class="flex gap-card-34 animate-scroll space-x-4">
    
 <a href="https://www.rejsegarantifonden.dk/"><img class="w-20 max-w-[200px]" src="/images/rejsegarantifonden.png" alt="Rejsegaranti Fonden logo"></a>     


 
<a href="https://www.jysk-rejsebureau.dk/">
<img class="w-20 max-w-[200px]" src="/images/jysk-rejsebureau-logo.svg" alt="Jysk Rejsebureau logo"></a>

    <img class="w-20 max-w-[200px]" src="/images/gouda-logo.svg" alt="Gouda logo">

  

    </div>
</section>



<style>

    
@keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); } /* Moves the entire length of both sets */
}

.animate-scroll {
    display: flex;
    animation: scroll 20s linear infinite; /* Adjust duration for scroll speed */
}

</style>




