---
const {type="primary", } = Astro.props;

// gælder for alle //
const buttonStyling = "transition-all duration-300 ease-in-out py-button-mobile-y px-button-mobile-x md:px-button-desktop-x md:py-button-desktop-y border border rounded font-body text-button-mobile md:text-button-desktop ";


const typeClasses ={
"primary": "bg-orange-500 border-orange-500 text-yellow-500 hover:bg-yellow-500 hover:text-orange-500 hover:border-orange-500",
"secondary": "text-orange-500 bg-yellow-500 hover:bg-orange-500 hover:text-yellow-500 hover:border-orange-500",

};



---
<button class:list={[buttonStyling, typeClasses[type]]}><slot /></button>
