
<section id="footer" class="bg-green-500 p-card-34 mt-card-34">

<section id="footer-1" class=" flex flex-col gap-card-34 md:justify-between md:mx-card-106  items-center md:items-stretch md:flex-row   ">

    
    <section id="footer-1-s1" class="flex gap-[1rem] flex-col">

    <div class="flex flex-col gap-[1rem]">
        <p class="text-yellow-500 text-body-mobile-bold md:text-body-desktop-bold font-body">HÖJSKOLENDK</p>
        <p class="text-yellow-500 text-body-mobile-bold md:text-body-desktop-bold font-body">Rosenørns Allé 29 <br>1970 Frederiksberg <br>Danmark</p>
    </div>

      <a href="#"><img class="md:w-3/4" src="/svg/logo.svg" alt="Logo"></a>

    </section>



    <section id="footer-1-s2" class="flex gap-[1rem] flex-col">

        <div class="flex flex-col gap-[1rem]">
            <p class="text-yellow-500 text-body-mobile-bold md:text-body-desktop-bold font-body">HÖJSKOLENDK</p>
            <p class="text-yellow-500 text-body-mobile-bold md:text-body-desktop-bold font-body">Rosenørns Allé 29 <br>1970 Frederiksberg <br>Danmark</p>
        </div>

        <div class="flex gap-[0.5rem]">
           <a href="#"><img class="w-3/4" class="w-[50px]" src="/svg/mail-ikon.svg" alt="Mail ikon"></a>
           <a href="#"><img class="w-3/4" src="/svg/linkedin-ikon.svg" alt="Linkedin ikon"></a>
           <a href="#"><img class="w-3/4" src="/svg/skype-ikon.svg" alt="Skype ikon"></a>
        </div>

    </section>



    <section id="footer-1-s3" class="flex gap-[1rem] flex-col">

        <div class="">
            <p class="text-yellow-500 text-body-mobile-bold md:text-body-desktop-bold font-body">FØLG OS</p>
        </div>

        <div class="flex gap-[0.5rem]">
           <a href="#"><img class="w-3/4" class="w-[50px]" src="/svg/youtube-ikon.svg" alt="Youtube ikon"></a>
           <a href="#"><img class="w-3/4" src="/svg/instagram-ikon.svg" alt="Instagram ikon"></a>
           <a href="#"><img class="w-3/4" src="/svg/facebook-ikon.svg" alt="Facebook ikon"></a>
        </div>

    </section>


</section>
    


    <section id="footer-2">

        <div class="w-full h-[1px] bg-orange-500 my-[2rem] md:my-[4rem]"></div>  


        <section id="footer-2-s1" class="flex flex-col items-center gap-card-34 md:flex-row md:justify-between ">
            <p class="text-yellow-500 text-body-mobile-regular md:text-body-desktop-regular font-body">HÖJSKOLENDK er medlem af <span class="underline">Rejsegarantifonden</span>.</p>
            <p class="text-yellow-500 text-body-mobile-regular md:text-body-desktop-regular font-body">Handelsbetingelser / <span class="underline">Cookiepolitik</span> / <span class="underline">Data- & Privatlivspolitik</span></p>
            <p class="text-yellow-500 text-body-mobile-regular md:text-body-desktop-regular font-body">Copyright © HÖJSKOLENDK 2022 • CVR 32491162</p>

        </section>


    </section>




</section>

    

    
   






