---
import Button from "./Button.astro"
---
<div class="relative h-screen">
    <!-- Video Background -->
    <video 
      autoplay 
      loop 
      muted 
      playsinline 
      class="absolute top-0 left-0 w-full h-full object-cover"
    >
      <source src="/public/video/video.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>


  
    <!-- Hero Content -->
<div class="relative z-20 flex flex-col justify-center items-center h-full space-y-4">
    <h1 class="font-blissmood px-section-72 text-desktop-hero text-yellow-500 text-center">
      HÖJSKOLENDK
    </h1>
    <h2 class="font-poppins text-h2-desktop-L text-yellow-500 text-white text-center">
      Eventyrlige rejseophold i udlandet for unge
    </h2>
    <div class="pt-section-72">
    <Button type="primary">TILMELD NU</Button>
    </div>
  </div>
  